unstructured[all-docs]
huggingface_hub[hf_xet]
torch
torchvision
nltk
pdf2image
pdfminer.six[image]
pytesseract
python-magic
python-multipart
#paddleocr
#paddlepaddle==3.0.0rc1
Pillow
fastapi
uvicorn
pydantic
